-- MySQL dump 10.13  Distrib 8.0.38, for Win64 (x86_64)
--
-- Host: 3.36.94.77    Database: A708_prod
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `A708_prod`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `A708_prod` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `A708_prod`;

--
-- Table structure for table `authcode`
--

DROP TABLE IF EXISTS `authcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authcode` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `auth_token` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `type` enum('FIND_PW','FIND_PW_ABLE','SIGN_UP','SIGN_UP_ABLE') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authcode`
--

LOCK TABLES `authcode` WRITE;
/*!40000 ALTER TABLE `authcode` DISABLE KEYS */;
INSERT INTO `authcode` VALUES (10,'2024-08-15 10:37:08.578141','2024-08-15 10:37:08.578141','aad73d5f-99f5-49b4-94bf-fe4d60b41c46','glmglg@naver.com','SIGN_UP');
/*!40000 ALTER TABLE `authcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calendar`
--

DROP TABLE IF EXISTS `calendar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calendar` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `memo` varchar(255) DEFAULT NULL,
  `time` datetime(6) NOT NULL,
  `title` varchar(255) NOT NULL,
  `team_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK8qcwrajqt3t3ewr1qe0fibqpo` (`team_id`),
  CONSTRAINT `FK8qcwrajqt3t3ewr1qe0fibqpo` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calendar`
--

LOCK TABLES `calendar` WRITE;
/*!40000 ALTER TABLE `calendar` DISABLE KEYS */;
/*!40000 ALTER TABLE `calendar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `code`
--

DROP TABLE IF EXISTS `code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `code` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `content` text,
  `language` enum('JAVA','PYTHON') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `code`
--

LOCK TABLES `code` WRITE;
/*!40000 ALTER TABLE `code` DISABLE KEYS */;
/*!40000 ALTER TABLE `code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file`
--

DROP TABLE IF EXISTS `file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `content` text,
  `folder_index` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `type` enum('CODE','MAIN','NORMAL','OVERVIEW','TIME_OVERVIEW') NOT NULL,
  `code_id` bigint DEFAULT NULL,
  `folder_id` bigint NOT NULL,
  `study_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKh3g7r14jur3hklv0evv4211ah` (`study_id`),
  KEY `FKtbmxx0kgayy70crcck6xvvgkh` (`code_id`),
  KEY `FKdfgd9qovcgebjry9mynttnijc` (`folder_id`),
  KEY `FKinph5hu8ryc97hbs75ym9sm7t` (`user_id`),
  CONSTRAINT `FKbhh98c1af7g2ufmkskxuexqwv` FOREIGN KEY (`study_id`) REFERENCES `study` (`id`),
  CONSTRAINT `FKdfgd9qovcgebjry9mynttnijc` FOREIGN KEY (`folder_id`) REFERENCES `folder` (`id`),
  CONSTRAINT `FKinph5hu8ryc97hbs75ym9sm7t` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKtbmxx0kgayy70crcck6xvvgkh` FOREIGN KEY (`code_id`) REFERENCES `code` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file`
--

LOCK TABLES `file` WRITE;
/*!40000 ALTER TABLE `file` DISABLE KEYS */;
/*!40000 ALTER TABLE `file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `folder`
--

DROP TABLE IF EXISTS `folder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `folder` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `parent_id` bigint DEFAULT NULL,
  `problem_id` bigint DEFAULT NULL,
  `team_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKn0cjh1seljcp0mc4tj1ufh99m` (`parent_id`),
  KEY `FKiyyji3punap92s2q5o50i7p78` (`problem_id`),
  KEY `FKn7vymosotvls7d3jc9b8ocyry` (`team_id`),
  KEY `FK5fd2civdi8s832iyrufpk400k` (`user_id`),
  CONSTRAINT `FK5fd2civdi8s832iyrufpk400k` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKiyyji3punap92s2q5o50i7p78` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`id`),
  CONSTRAINT `FKn0cjh1seljcp0mc4tj1ufh99m` FOREIGN KEY (`parent_id`) REFERENCES `folder` (`id`),
  CONSTRAINT `FKn7vymosotvls7d3jc9b8ocyry` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `folder`
--

LOCK TABLES `folder` WRITE;
/*!40000 ALTER TABLE `folder` DISABLE KEYS */;
INSERT INTO `folder` VALUES (1,'2024-08-14 03:34:07.600864','2024-08-14 03:34:07.600864','root',NULL,NULL,1,NULL),(2,'2024-08-14 03:34:15.451597','2024-08-14 03:34:15.451597','root',NULL,NULL,2,NULL),(3,'2024-08-14 03:34:27.111919','2024-08-14 03:34:27.111919','24??8??,1,NULL,1,NULL),(4,'2024-08-14 03:34:27.114337','2024-08-14 03:34:27.114337','1?뚯감',3,NULL,1,NULL),(5,'2024-08-14 03:34:38.010439','2024-08-14 03:34:38.010439','12886. ??洹몃９',4,1,1,NULL),(6,'2024-08-14 03:34:39.046821','2024-08-14 03:34:39.046821','test',5,1,1,1),(7,'2024-08-14 03:34:42.645522','2024-08-14 03:34:42.645522','1001. A-B',4,2,1,NULL),(8,'2024-08-14 03:34:43.702421','2024-08-14 03:34:43.702421','test',7,2,1,1),(9,'2024-08-14 03:35:15.097000','2024-08-14 03:35:15.097000','24??8??,2,NULL,2,NULL),(10,'2024-08-14 03:35:15.099382','2024-08-14 03:35:15.099382','1?뚯감',9,NULL,2,NULL),(11,'2024-08-14 03:39:11.513666','2024-08-14 03:39:11.513666','14890. 寃쎌궗濡?,10,3,2,NULL),(12,'2024-08-14 03:39:14.619631','2024-08-14 03:39:14.619631','怨쎌???,11,3,2,4),(13,'2024-08-14 03:39:14.624529','2024-08-14 03:39:14.624529','源?⑥?',11,3,2,5),(14,'2024-08-14 03:39:14.629305','2024-08-14 03:39:14.629305','源?꾪븳',11,3,2,6),(15,'2024-08-14 03:44:26.687083','2024-08-14 03:44:26.687083','16234. ?멸뎄 ?대룞',10,4,2,NULL),(16,'2024-08-14 03:44:28.831051','2024-08-14 03:44:28.831051','怨쎌???,15,4,2,4),(17,'2024-08-14 03:44:28.836497','2024-08-14 03:44:28.836497','源?⑥?',15,4,2,5),(18,'2024-08-14 03:44:28.840226','2024-08-14 03:44:28.840226','源?꾪븳',15,4,2,6),(19,'2024-08-14 03:53:56.876603','2024-08-14 03:53:56.876603','root',NULL,NULL,3,NULL),(20,'2024-08-14 04:02:06.587244','2024-08-14 04:02:06.587244','2798. 釉붾옓??,10,5,2,NULL),(21,'2024-08-14 04:02:09.642019','2024-08-14 04:02:09.642019','怨쎌???,20,5,2,4),(22,'2024-08-14 04:02:09.646703','2024-08-14 04:02:09.646703','源?⑥?',20,5,2,5),(23,'2024-08-14 04:02:09.650919','2024-08-14 04:02:09.650919','源?꾪븳',20,5,2,6),(24,'2024-08-14 05:30:10.975586','2024-08-14 05:30:10.975586','root',NULL,NULL,4,NULL),(25,'2024-08-14 05:36:12.489285','2024-08-14 05:36:12.489285','1090. 泥댁빱',10,6,2,NULL),(26,'2024-08-14 05:36:15.651386','2024-08-14 05:36:15.651386','怨쎌???,25,6,2,4),(27,'2024-08-14 05:36:15.657003','2024-08-14 05:36:15.657003','源?⑥?',25,6,2,5),(28,'2024-08-14 05:36:15.661904','2024-08-14 05:36:15.661904','源?꾪븳',25,6,2,6),(29,'2024-08-14 05:37:13.728001','2024-08-14 05:37:13.728001','root',NULL,NULL,5,NULL),(31,'2024-08-14 05:38:25.127134','2024-08-14 05:38:25.127134','24??8??,29,NULL,5,NULL),(32,'2024-08-14 05:38:25.129985','2024-08-14 05:38:25.129985','1?뚯감',31,NULL,5,NULL),(33,'2024-08-14 05:39:13.734129','2024-08-14 05:39:13.734129','2?뚯감',9,NULL,2,NULL),(34,'2024-08-14 05:40:02.007614','2024-08-14 05:40:02.007614','5373. ?먮튃',33,7,2,NULL),(35,'2024-08-14 05:40:06.081617','2024-08-14 05:40:06.081617','怨쎌???,34,7,2,4),(36,'2024-08-14 05:40:06.085499','2024-08-14 05:40:06.085499','源?⑥?',34,7,2,5),(37,'2024-08-14 05:40:06.088983','2024-08-14 05:40:06.088983','?뚯뿰',34,7,2,6),(38,'2024-08-14 05:42:36.895227','2024-08-14 05:42:36.895227','1874. ?ㅽ깮 ?섏뿴',33,8,2,NULL),(39,'2024-08-14 05:42:39.758546','2024-08-14 05:42:39.758546','怨쎌???,38,8,2,4),(40,'2024-08-14 05:42:39.762204','2024-08-14 05:42:39.762204','源?⑥?',38,8,2,5),(41,'2024-08-14 05:42:39.766369','2024-08-14 05:42:39.766369','?뚯뿰',38,8,2,6),(42,'2024-08-14 05:43:07.588650','2024-08-14 05:43:07.588650','24??8??,24,NULL,4,NULL),(43,'2024-08-14 05:43:07.590585','2024-08-14 05:43:07.590585','1?뚯감',42,NULL,4,NULL),(44,'2024-08-14 05:43:30.536638','2024-08-14 05:43:30.536638','1269. ?移?李⑥쭛??,43,9,4,NULL),(45,'2024-08-14 05:43:31.764665','2024-08-14 05:43:31.764665','A708??먭??⑥?',44,9,4,7),(46,'2024-08-14 05:46:38.949297','2024-08-14 05:46:38.949297','root',NULL,NULL,6,NULL),(47,'2024-08-14 05:48:57.797158','2024-08-14 05:48:57.797158','24??1??,46,NULL,6,NULL),(48,'2024-08-14 05:48:57.799240','2024-08-14 05:48:57.799240','1?뚯감',47,NULL,6,NULL),(49,'2024-08-14 05:49:00.747663','2024-08-14 05:49:00.747663','2?뚯감',47,NULL,6,NULL),(53,'2024-08-14 05:49:45.554359','2024-08-14 05:49:45.554359','1090. 泥댁빱',43,11,4,NULL),(54,'2024-08-14 05:49:47.389877','2024-08-14 05:49:47.389877','A708??먭??⑥?',53,11,4,7),(55,'2024-08-14 05:49:47.395278','2024-08-14 05:49:47.395278','?≪퐫',53,11,4,10),(56,'2024-08-14 05:50:09.338639','2024-08-14 05:50:09.338639','1012. ?좉린??諛곗텛',48,12,6,NULL),(57,'2024-08-14 05:50:10.927928','2024-08-14 05:50:10.927928','源?⑥?',56,12,6,5),(58,'2024-08-14 05:50:10.931736','2024-08-14 05:50:10.931736','dambi',56,12,6,9),(59,'2024-08-14 05:50:47.132829','2024-08-14 05:50:47.132829','root',NULL,NULL,7,NULL),(60,'2024-08-14 05:51:08.960002','2024-08-14 05:51:08.960002','10845. ??,48,13,6,NULL),(61,'2024-08-14 05:51:10.484619','2024-08-14 05:51:10.484619','源?⑥?',60,13,6,5),(62,'2024-08-14 05:51:10.488402','2024-08-14 05:51:10.488402','dambi',60,13,6,9),(63,'2024-08-14 05:52:03.071950','2024-08-14 05:52:03.071950','11501. 二쇱떇',48,14,6,NULL),(64,'2024-08-14 05:52:04.775587','2024-08-14 05:52:04.775587','源?⑥?',63,14,6,5),(65,'2024-08-14 05:52:04.779684','2024-08-14 05:52:04.779684','dambi',63,14,6,9),(66,'2024-08-14 07:10:13.700414','2024-08-14 07:10:13.700414','24??8??,19,NULL,3,NULL),(67,'2024-08-14 07:10:13.702776','2024-08-14 07:10:13.702776','1?뚯감',66,NULL,3,NULL),(68,'2024-08-14 07:10:26.427698','2024-08-14 07:10:26.427698','1000. A+B',67,15,3,NULL),(69,'2024-08-14 07:10:27.910309','2024-08-14 07:10:27.910309','test',68,15,3,1),(70,'2024-08-14 07:14:31.042585','2024-08-14 07:14:31.042585','root',NULL,NULL,8,NULL),(71,'2024-08-14 07:15:33.371461','2024-08-14 07:15:33.371461','root',NULL,NULL,9,NULL),(72,'2024-08-14 07:25:47.306590','2024-08-14 07:25:47.306590','24??8??,71,NULL,9,NULL),(73,'2024-08-14 07:25:47.309728','2024-08-14 07:25:47.309728','1?뚯감',72,NULL,9,NULL),(74,'2024-08-14 08:35:17.131130','2024-08-14 08:35:17.131130','root',NULL,NULL,10,NULL),(75,'2024-08-14 08:35:56.616204','2024-08-14 08:35:56.616204','24??8??,74,NULL,10,NULL),(76,'2024-08-14 08:35:56.617839','2024-08-14 08:35:56.617839','1?뚯감',75,NULL,10,NULL),(77,'2024-08-14 08:36:23.147161','2024-08-14 08:36:23.147161','1005. ACM Craft',76,16,10,NULL),(78,'2024-08-14 08:36:26.444132','2024-08-14 08:36:26.444132','Logung',77,16,10,12),(79,'2024-08-14 08:36:26.449256','2024-08-14 08:36:26.449256','源?꾪븳',77,16,10,6),(80,'2024-08-14 08:36:26.453124','2024-08-14 08:36:26.453124','源?⑥?1',77,16,10,11),(81,'2024-08-14 08:36:26.456390','2024-08-14 08:36:26.456390','吏寃쎄렐',77,16,10,14),(82,'2024-08-14 08:36:26.459710','2024-08-14 08:36:26.459710','KJH',77,16,10,13),(83,'2024-08-14 08:37:35.585462','2024-08-14 08:37:35.585462','1014. 而⑤떇',76,17,10,NULL),(84,'2024-08-14 08:37:39.560352','2024-08-14 08:37:39.560352','Logung',83,17,10,12),(85,'2024-08-14 08:37:39.566245','2024-08-14 08:37:39.566245','源?꾪븳',83,17,10,6),(86,'2024-08-14 08:37:39.569731','2024-08-14 08:37:39.569731','源?⑥?1',83,17,10,11),(87,'2024-08-14 08:37:39.573366','2024-08-14 08:37:39.573366','吏寃쎄렐',83,17,10,14),(88,'2024-08-14 08:37:39.577327','2024-08-14 08:37:39.577327','KJH',83,17,10,13),(89,'2024-08-14 08:38:14.225284','2024-08-14 08:38:14.225284','1799. 鍮꾩닄',76,18,10,NULL),(90,'2024-08-14 08:38:18.354888','2024-08-14 08:38:18.354888','Logung',89,18,10,12),(91,'2024-08-14 08:38:18.359864','2024-08-14 08:38:18.359864','源?꾪븳',89,18,10,6),(92,'2024-08-14 08:38:18.363617','2024-08-14 08:38:18.363617','源?⑥?1',89,18,10,11),(93,'2024-08-14 08:38:18.366979','2024-08-14 08:38:18.366979','吏寃쎄렐',89,18,10,14),(94,'2024-08-14 08:38:18.370935','2024-08-14 08:38:18.370935','KJH',89,18,10,13),(95,'2024-08-15 14:39:25.665833','2024-08-15 14:39:25.665833','root',NULL,NULL,11,NULL),(96,'2024-08-15 23:30:28.241432','2024-08-15 23:30:28.241432','16236. ?꾧린 ?곸뼱',76,19,10,NULL),(97,'2024-08-15 23:30:32.249095','2024-08-15 23:30:32.249095','Logung',96,19,10,12),(98,'2024-08-15 23:30:32.254278','2024-08-15 23:30:32.254278','源?꾪븳',96,19,10,6),(99,'2024-08-15 23:30:32.257977','2024-08-15 23:30:32.257977','源?⑥?1',96,19,10,11),(100,'2024-08-15 23:30:32.262427','2024-08-15 23:30:32.262427','吏寃쎄렐',96,19,10,14),(101,'2024-08-15 23:30:32.265883','2024-08-15 23:30:32.265883','KJH',96,19,10,13),(102,'2024-08-15 23:40:29.134193','2024-08-15 23:40:29.134193','root',NULL,NULL,12,NULL),(103,'2024-08-15 23:41:05.278237','2024-08-15 23:41:05.278237','24??8??,102,NULL,12,NULL),(104,'2024-08-15 23:41:05.280645','2024-08-15 23:41:05.280645','1?뚯감',103,NULL,12,NULL),(105,'2024-08-15 23:41:14.523149','2024-08-15 23:41:14.523149','1000. A+B',104,20,12,NULL),(106,'2024-08-15 23:41:15.959135','2024-08-15 23:41:15.959135','test',105,20,12,1),(107,'2024-08-15 23:53:54.553281','2024-08-15 23:53:54.553281','root',NULL,NULL,13,NULL),(108,'2024-08-15 23:54:59.522801','2024-08-15 23:54:59.522801','24??8??,107,NULL,13,NULL),(109,'2024-08-15 23:54:59.525146','2024-08-15 23:54:59.525146','1?뚯감',108,NULL,13,NULL),(110,'2024-08-15 23:55:06.271967','2024-08-15 23:55:06.271967','1005. ACM Craft',104,21,12,NULL),(111,'2024-08-15 23:55:08.173269','2024-08-15 23:55:08.173269','test',110,21,12,1),(119,'2024-08-16 01:01:25.203507','2024-08-16 01:01:25.203507','root',NULL,NULL,14,NULL),(120,'2024-08-16 01:02:09.624237','2024-08-16 01:02:09.624237','24??8??,119,NULL,14,NULL),(121,'2024-08-16 01:02:09.625857','2024-08-16 01:02:09.625857','1?뚯감',120,NULL,14,NULL),(122,'2024-08-16 01:02:26.546723','2024-08-16 01:02:26.546723','1005. ACM Craft',121,23,14,NULL),(123,'2024-08-16 01:02:27.675805','2024-08-16 01:02:27.675805','KJH',122,23,14,13);
/*!40000 ALTER TABLE `folder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `problem`
--

DROP TABLE IF EXISTS `problem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `level` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `number` int DEFAULT NULL,
  `site` enum('BAEKJOON','ETC','PROGRAMMERS','SWEA') NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `study_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKecvlfosm9rrhi5l3p5wgqm867` (`study_id`),
  CONSTRAINT `FKecvlfosm9rrhi5l3p5wgqm867` FOREIGN KEY (`study_id`) REFERENCES `study` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `problem`
--

LOCK TABLES `problem` WRITE;
/*!40000 ALTER TABLE `problem` DISABLE KEYS */;
/*!40000 ALTER TABLE `problem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `problem_user`
--

DROP TABLE IF EXISTS `problem_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problem_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `status` bit(1) NOT NULL,
  `file_id` bigint DEFAULT NULL,
  `problem_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfp3q9w0f2lq4tem9iisnnjrrt` (`file_id`),
  KEY `FKh5nno1ntbui0q8pg81ai13yym` (`problem_id`),
  KEY `FKckhg705sco97buqks4emgaeh3` (`user_id`),
  CONSTRAINT `FKckhg705sco97buqks4emgaeh3` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKfp3q9w0f2lq4tem9iisnnjrrt` FOREIGN KEY (`file_id`) REFERENCES `file` (`id`),
  CONSTRAINT `FKh5nno1ntbui0q8pg81ai13yym` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `problem_user`
--

LOCK TABLES `problem_user` WRITE;
/*!40000 ALTER TABLE `problem_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `problem_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `study`
--

DROP TABLE IF EXISTS `study`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `study` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `month` int NOT NULL,
  `times` int NOT NULL,
  `year` int NOT NULL,
  `team_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKnyx4nqvsggah70v4in6febbiw` (`team_id`),
  CONSTRAINT `FKnyx4nqvsggah70v4in6febbiw` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `study`
--

LOCK TABLES `study` WRITE;
/*!40000 ALTER TABLE `study` DISABLE KEYS */;
/*!40000 ALTER TABLE `study` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team`
--

DROP TABLE IF EXISTS `team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `name` varchar(20) NOT NULL,
  `team_code` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6trmq6st57jtb2xwi8vo3mb05` (`team_code`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team`
--

LOCK TABLES `team` WRITE;
/*!40000 ALTER TABLE `team` DISABLE KEYS */;
INSERT INTO `team` VALUES (1,'2024-08-14 03:34:07.592600','2024-08-14 05:28:06.617246','testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttes','test媛 留뚮뱺?','1cb7d7d'),(2,'2024-08-14 03:34:15.445948','2024-08-14 03:34:15.533117','肄붾뵫 ?뚯뒪??以鍮??ㅽ꽣?붿엯?덈떎.','7諛?8議??ㅽ꽣??,'2989b82'),(3,'2024-08-14 03:53:56.870743','2024-08-14 03:53:56.951465','232323232','23232323','3688b19'),(4,'2024-08-14 05:30:10.969332','2024-08-14 05:30:11.043640','QA. 3李?,'0814','4b5ae4d'),(5,'2024-08-14 05:37:13.723133','2024-08-14 05:37:13.816247','wewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwerwerwewewerwer','33234','532ef7c'),(6,'2024-08-14 05:46:38.944295','2024-08-14 05:46:39.025678','?뚯뒪??,'test','6cc2cd0'),(7,'2024-08-14 05:50:47.129300','2024-08-14 05:50:47.193656','ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd','dddddddddddddddddddd','749fd78'),(8,'2024-08-14 07:14:31.037229','2024-08-14 07:14:31.122812','a','a','8758c42'),(9,'2024-08-14 07:15:33.365881','2024-08-14 07:15:33.445088','A708 肄붾뵫 ?ㅽ꽣???낅땲??,'A708','9e66406'),(10,'2024-08-14 08:35:17.125992','2024-08-16 00:11:55.338684','2024.08.16\n?꾨줈?앺듃 諛쒗몴 !!!','A708 - COSMOS','10886787'),(11,'2024-08-15 14:39:25.659208','2024-08-15 14:39:25.759759','test','test','116969cc'),(12,'2024-08-15 23:40:29.127781','2024-08-15 23:40:29.190444','?뚭퀬由ъ쬁 ?ㅽ꽣???낅땲??,'A708','12ed2e9e'),(13,'2024-08-15 23:53:54.549242','2024-08-15 23:53:54.621165','8/16???쒖뿰???꾪븳','?쒖뿰','13253080'),(14,'2024-08-16 01:01:25.199813','2024-08-16 01:01:25.286926','aaa','aa','140ba22f');
/*!40000 ALTER TABLE `team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_user`
--

DROP TABLE IF EXISTS `team_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `modified_at` datetime(6) DEFAULT NULL,
  `role` enum('LEADER','MEMBER') NOT NULL,
  `team_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKiuwi96twuthgvhnarqj34mnjv` (`team_id`),
  KEY `FK6w6lkqjk13n0nmf4jbnb3d376` (`user_id`),
  CONSTRAINT `FK6w6lkqjk13n0nmf4jbnb3d376` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKiuwi96twuthgvhnarqj34mnjv` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_user`
--

LOCK TABLES `team_user` WRITE;
/*!40000 ALTER TABLE `team_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `branch` varchar(255) DEFAULT 'main',
  `description` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `git_id` varchar(255) DEFAULT NULL,
  `nickname` varchar(255) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `repo` varchar(255) DEFAULT NULL,
  `type` enum('KAKAO','NAVER','NORMAL') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKob8kqyqqgmefl0aco34akdtpe` (`email`),
  UNIQUE KEY `UKn4swgcf30j6bmtb4l4cjryuym` (`nickname`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-08-16 10:33:48
