/* src/css/accounts/passwordChange.css */
#pw-change-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
  background: linear-gradient(
    180deg,
    #0d0220 0%,
    #0d0220de 100%
  ); /* 배경 그라데이션 */
}

#pw-change-box {
  background-color: #0d0220; /* 배경색 설정 */
  border: 1px solid #f5f5f5; /* 테두리 설정 */
  border-radius: 8px; /* 모서리 둥글게 */
  margin: 50px;
  padding: 24px; /* 내부 여백 설정 */
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 500px; /* 최대 너비를 500px로 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 수평 중앙 정렬 */
}

#pw-change-title {
  font-size: 24px; /* 글꼴 크기 설정 */
  font-weight: 500; /* 글꼴 두께 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  margin-bottom: 24px; /* 하단 여백 설정 */
  text-align: center; /* 중앙 정렬 */
}

#current-pw-group,
#new-pw-group,
#confirm-pw-group,
#pw-change-btn-group {
  display: flex;
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 400px; /* 최대 너비를 400px로 설정 */
  margin: 10px; /* 상하좌우 여백 10px */
}

#current-pw-group,
#new-pw-group,
#confirm-pw-group {
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

#pw-change-btn-group {
  justify-content: space-between;
}
#current-pw-label,
#new-pw-label,
#confirm-pw-label {
  display: block; /* 블록 요소로 설정 */
  margin-bottom: 8px; /* 하단 여백 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  text-align: left; /* 왼쪽 정렬 */
}

#current-pw-input,
#new-pw-input,
#confirm-pw-input {
  width: 100%; /* 패딩을 고려하여 너비 조정 */
  padding: 12px; /* 내부 여백 설정 */
  border: 1px solid #f3f3f3; /* 테두리 설정 */
  border-radius: 8px; /* 모서리 둥글게 */
  background-color: #1e1e1e; /* 배경색 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}

/* 버튼 스타일 */
#pw-change-change-pw-btn,
#pw-change-back-btn {
  width: 40%; /* 버튼의 너비를 40%로 설정 */
  padding: 12px; /* 내부 여백 설정 */
  background-color: #d9d9d9; /* 배경색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 8px; /* 모서리 둥글게 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}

/* 버튼 hover 상태 */
#pw-change-change-pw-btn:hover,
#pw-change-back-btn:hover {
  background-color: #c0c0c0; /* hover 시 배경색 변경 */
}

/* 안내 메세지 스타일 */
#passwordchange-error-message {
  margin-top: 5px; /* 입력 필드와 링크 사이 여백 */
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px; /* 링크 폰트 사이즈 조정 */
  color: #d32f2f;
}