/* src/css/accounts/passwordFind.css */
#pw-find-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
  background: linear-gradient(
    180deg,
    #0d0220 0%,
    #0d0220de 100%
  ); /* 배경 그라데이션 */
}

#pw-find-box {
  background-color: #0d0220; /* 배경색 설정 */
  border: 1px solid #f5f5f5; /* 테두리 설정 */
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 24px; /* 내부 여백 설정 */
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 500px; /* 최대 너비를 500px로 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 수평 중앙 정렬 */
  margin: 50px;
}

#pw-find-title {
  font-size: 24px; /* 글꼴 크기 설정 */
  font-weight: 500; /* 글꼴 두께 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  margin-bottom: 24px; /* 하단 여백 설정 */
  text-align: center; /* 중앙 정렬 */
}

#email-auth-group,
#auth-token-group,
#new-pw-group,
#confirm-pw-group,
#pw-find-btn-group {
  display: flex;
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 400px; /* 최대 너비를 400px로 설정 */
  margin: 10px; /* 상하좌우 여백 10px */
}
#email-auth-group,
#auth-token-group,
#new-pw-group,
#confirm-pw-group {
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
}
#pw-find-btn-group {
  justify-content: space-between;
}

#email-auth-label,
#auth-token-label,
#new-pw-label,
#confirm-pw-label {
  display: block; /* 블록 요소로 설정 */
  margin-bottom: 8px; /* 하단 여백 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  text-align: left; /* 왼쪽 정렬 */
}

#email-auth-input-with-btn,
#auth-token-input-with-btn {
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 400px; /* 최대 너비를 400px로 설정 */
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

#email-auth-input,
#auth-token-input,
#new-pw-input,
#confirm-pw-input {
  padding: 12px; /* 내부 여백 설정 */
  border: 1px solid #f3f3f3; /* 테두리 설정 */
  border-radius: 8px; /* 모서리 둥글게 */
  background-color: #1e1e1e; /* 배경색 설정 */
  color: #fff; /* 글꼴 색상 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}

#email-auth-input,
#auth-token-input {
  width: 80%;
  flex-direction: row;
}

#new-pw-input,
#confirm-pw-input {
  width: 100%;
}

#send-btn,
#auth-btn,
#change-pw-btn,
#back-btn {
  padding: 12px; /* 내부 여백 설정 */
  background-color: #d9d9d9; /* 배경색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 8px; /* 모서리 둥글게 */
  font-size: 16px; /* 글꼴 크기 설정 */
  font-family: "Inter", sans-serif; /* 글꼴 패밀리 설정 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}

#send-btn,
#auth-btn {
  width: 20%;
  margin-left: 20px;
}

#change-pw-btn,
#back-btn {
  width: 40%;
}

#send-btn:hover,
#auth-btn:hover,
#change-pw-btn:hover,
#back-btn:hover {
  background-color: #c0c0c0; /* hover 시 배경색 변경 */
}
