#home-card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

#home-description {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  width: 50%;
}

#home-text {
  background-color: transparent;
}

#home-text h3 {
  margin-top: 100%;
  text-align: center;
  background-color: transparent;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 50px;
}

#highlight-word {
  color: #2f95dc;
}

#home-img-card {
  width: 50%;
  background-color: transparent;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#home-img {
  margin-top: 20px;
  display: block;
  width: 100%;
  filter: brightness(0.9) contrast(1.1);
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

#start-service {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: rgb(182, 202, 231);
  padding: 8px;
}

#group-page-link {
  color: inherit;
  text-decoration: none;
}
